{% extends "layout.njk" %}

{% block head %}
    <title>Sobre | William Pereira</title>
{% endblock %}

{%block content %}

    <div id="wrapper">
        <img src="https://avatars.githubusercontent.com/u/36682030?v=4"
            alt="">
        <h1>William Pereira</h1>
        <h2>Desenvolvedor Front-end</h2>
        <p>Programador full-stack, focando em trazer soluções de tecnologia para o mercado</p>
    </div>

    <div class="links">
        <a href="https://github.com/BrouWilliam" target="_black">Github</a>
        <a href="/https://twitter.com/wishuwerehereh" target="_black">Twitter</a>
        <a href="https://www.linkedin.com/in/william-xavier-pereira-06927915b/" target="_black">Linkedin</a>
    </div>
{% endblock %}