{% extends "layout.njk" %}

{% block head %}
    <title>Sobre | William Pereira</title>
{% endblock %}

{% block content %}
    <div id="wrapper">
        <img src="{{ about.avatarUrl }}" alt="">
            <h1>{{ about.name }}</h1>
            <h2>{{ about.rule }}</h2>
            <p>{{ about.description }}</p>
        </div>
        <div class="links">
            {% for link in about.links %}
                <a href="{{ link.url }}" target="_black">{{ link.name }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}